In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('Welcome program.csv')

In [9]:
df.head(5)

,Timestamp,Username,Name:,IOE roll no:,Personal Email:,Phone number:,Preference:,Pickup location:,Any suggestions for seniors ?
0,2024/12/25 4:42:21 PM GMT+5:45,prakatsharma064@gmail.com,Prakat Sharma,PAS081BCT024,prakatsharma064@gmail.com,9846783011,Non-Veg,WRC college,NaN
1,2024/12/25 4:43:28 PM GMT+5:45,pranjaljoshi095@gmail.com,Pranjal Joshi,PAS081BCT026,pranjaljoshi095@gmail.com,9868553466,Veg,WRC college,NaN
2,2024/12/25 4:48:16 PM GMT+5:45,rizalaryan2@gmail.com,Adip Rijal,PAS081BCT005,rizalaryan2@gmail.com,9804456004,Veg,WRC college,"Where are other details?\nDate, time, ....."
3,2024/12/25 4:49:13 PM GMT+5:45,pas081bct037@wrc.edu.np,Shishir Bastakoti,pas081bct037,shishirbastakoti1@gmail.com,9817547167,Non-Veg,WRC college,Make program interesting and unforgettable whi...
4,2024/12/25 4:49:20 PM GMT+5:45,sahaanand59@gmail.com,Aanand Kumar Sah,PAS081BCT001,sahaanand59@gmail.com,9826361006,Veg,WRC college,NaN

In [12]:
for x in df: #prints the column name
    print(x)

Timestamp
Username
Name:
IOE roll no:
Personal Email:
Phone number:
Preference:
Pickup location:
Any suggestions for seniors ?

In [22]:
for row in df["Name:"]:
    print(row)

Aagaman Kandel
Aanand Kumar Sah
Aayushman Bastola
Abhinit Pradhan
Adip Rijal
Anish Bartaula
Anjal Poudel
Anmol Rajbhandari
Anuj adhikari
Anuska Acharya
Ashim Adhikari
Barun Lamsal
Darshan Paudel
Deepan K.C.
Kapil Bhandari
Kiran Dhungana
Krishnaram Thapaliya
Meghraj Poudel
Nitu Purbey
Prabhat Dhakal
Pragya khanal
Prakat Sharma
Prakriti Subedi
Pranjal Joshi
Rebika Parajuli
Rhydim Shrestha
Sagun Bastola
Saksham Rijal
Salfet Sigdel
Sarun Bishwakarma
Saugat Bhattarai
Shaswat Sigdel
Shishir Bastakoti
Sodiksha Upadhyaya
Sudeesh Acharya
Sujan Babu Dhungana
Sujeet Agrahari
Sulochana Subedi
Susan Chhantyal
Swapnil Gautam
Swarnim Ranabhat
Utsav Thapa
samir bhandari

In [21]:
df.sort_values(["Name:"],inplace = True)

In [19]:
print(df["Name:"])

12           Aagaman Kandel
4          Aanand Kumar Sah
42       Aayushman Bastola
32          Abhinit Pradhan
2               Adip Rijal
29          Anish Bartaula
9              Anjal Poudel
41       Anmol Rajbhandari
20           Anuj adhikari
8           Anuska Acharya
21           Ashim Adhikari
23             Barun Lamsal
17          Darshan Paudel
38              Deepan K.C.
24          Kapil Bhandari
19          Kiran Dhungana
27     Krishnaram Thapaliya
10           Meghraj Poudel
18             Nitu Purbey
37           Prabhat Dhakal
5            Pragya khanal
0             Prakat Sharma
15          Prakriti Subedi
1             Pranjal Joshi
36          Rebika Parajuli
28         Rhydim Shrestha
7             Sagun Bastola
16            Saksham Rijal
39           Salfet Sigdel
33        Sarun Bishwakarma
35         Saugat Bhattarai
25          Shaswat Sigdel
3        Shishir Bastakoti
31       Sodiksha Upadhyaya
14          Sudeesh Acharya
40    Sujan Babu Dhungana
22          Sujeet Agrahari
34         Sulochana Subedi
26          Susan Chhantyal
11          Swapnil Gautam
6         Swarnim Ranabhat
13              Utsav Thapa
30           samir bhandari
Name: Name:, dtype: object

## Merging